* {
  box-sizing: border-box;
}

header {
  height: 10px;
  padding: 0px;
  position: sticky;
  top: 0;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
}
header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 14px;
  color: var(--greyish);
  min-width: 600px;
}

footer {
  margin-top: 200px;
}

.headerlogo {
  font-size: 24px;
  font-weight: 800;
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  color: var(--greyish);
  text-decoration: none;
}

header > ul {
  display: flex;
  list-style: none;
  gap: 35px;
  padding: 0;
  margin-right: 70px;
  padding-top: 0;
  margin-top: 0;
}

header > ul > li > a {
  text-decoration: none;
  color: var(--greyish);
}

.stylingButton {
  background: var(--yellow);
  border: 0;
  padding: 10px 20px;
}

a {
  transition: 0.5s;
}

a:hover {
  letter-spacing: 0.25em;
  opacity: 0.8;
}
.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

body {
  background-image: url("../../Assets/pexels-minan1398-813269.jpg");
  background-color: #14213d;
  background-size: 500px, auto;
  min-height: calc(100vh - 100px);
  margin: 50px;
  /* background: white; */
  background-attachment: fixed;
  letter-spacing: -1px;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
}

/* navigation */
.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
}

[aria-controls="menu-list"] {
  display: none;
}
.key--operator {
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  color: rgb(72, 80, 84);
}
.calcButtons {
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  color: var(--black);
}
.container {
  background-color: var(--greyish);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 16px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgb(209, 209, 209);
}
.container #output {
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: end;
  font-size: 60px;
  color: rgb(59, 72, 76);
  max-width: 221px;
  overflow: hidden;
  font-weight: 500;
}

.keypad .operatorRow {
  display: flex;
  gap: 7px;
}

.operatorRow button:hover {
  filter: brightness(80%);
  transition: 0.1s;
}

.operatorRow button:active {
  filter: brightness(90%);
  font-size: 18px;
}

.keypad .operatorRow button {
  background-color: #d3dde5;
}

.keypad .numberPad {
  display: flex;
  margin-top: 7px;
}

.number-pad div {
  display: flex;
  gap: 7px;
}
.number-pad button:hover {
  filter: brightness(80%);
  transition: 0.1s;
}

.number-pad button:active {
  filter: brightness(90%);
  font-size: 18px;
}

.number-pad div:not(:last-child) {
  margin-bottom: 7px;
}
.equals {
  display: flex;
  align-items: stretch;
}

.equal-button {
  height: 50px;
  width: 50px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 100px;
  border: none;
  color: rgb(72, 80, 84);
  margin-left: 7px;
  background-color: var(--yellow);
  height: 100%;
}

.equals:hover {
  filter: brightness(80%);
}

.equals:active {
  font-size: 18px;
  filter: brightness(90%);
}

.is-depressed {
  filter: brightness(50%);
}

/* root settings e.g colors etc */
/* !my color scheme chosen from coolers */
:root {
  --yellow: #fca311;
  --black: #272727;
  --greyish: #e5e5e5;
}

/* * border-box box model allows us to add padding and border to our elements without increasing their size */
html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 15px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/* -below css for the games button  */
@media (max-width: 1000px) {
  .menu {
    order: -1;
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }
}
